body {
    background: white;
    font-family: "Trebuchet MS", sans-serif;
    font-size: 10pt;
    color: black;
}

.title {
    font-size: 14pt;
}

.emphasis {
    font-size: 10pt;
    font-weight: bold;
}

.reduced-emphasis {
    font-size: 10pt;
}

.table-title {
    font-size: 11pt;
    font-weight: bold;
    text-align: right;
}

.svg-container {
    display: inline-block;
    position: fixed;
    width: 80%;
    padding-bottom: 100%; /* aspect ratio */
    horizontal-align: right;
    vertical-align: bottom;
    overflow: hidden;
}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 60px;
    left: 20px;
}

state-table,td,th {
    table-layout: fixed;
    border: 0px solid darkslategrey;
    border-collapse: collapse;
}

th {
    font-size: 9pt;
    vertical-align: bottom;
    color: white;
    background-color: slategrey;
}

tr:nth-child(even) {background-color: #f2f2f2}

td {
    font-size: 9pt;
    vertical-align: bottom;
}

.numeric-cell {
    text-align: right;
    padding-right: 5px;
}

.text-cell {
    text-align: left;
    padding-left: 5px;
}

.map-header {
    width: 95%;
    height: 10%;
}

.map-display {
    width: 70%;
    height: 80%;
    float: left;
}

.map-text {
    width: 30%;
    height: 80%;
    float: right;
}

.template {
    visibility: hidden;
}

#states {
    fill: #aaa;
    stroke: white;
    stroke-width: .75px;
}

#states .ExtraLow {
    fill: #ffda10;
}

#states .Low {
    fill: #eca549;
}

#states .Medium {
    fill: #d0745c;
}

#states .High {
    fill: #ad493c;
}

#states .ExtraHigh {
    fill: #7d1f22;
}

#states .Extreme {
    fill: #461113;
}
#states .Selected {
    fill: #1f22b6;
}